{% extends 'base.html' %} {% block body %}
        <div class="follow-us-section pt-5 pb-5" id="Follow Us Section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="follow-us-section-heading">Follow Us</h1>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-row justify-content-center">
                            <div class="follow-us-icon-container">
                                <i class="fab fa-twitter icon"></i>
                            </div>
                            <div class="follow-us-icon-container">
                                <i class="fab fa-instagram icon"></i>
                            </div>
                            <div class="follow-us-icon-container">
                                <i class="fab fa-facebook icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-section pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <img src="https://i.ibb.co/SsmQ7TD/Real-cooking-is-more-about-following-your-heart-than-following-recipes-1-removebg-preview.png" class="navbar-image" />
                        <h1 class="footer-section-mail-id">orderfood@KakinadaKothaRuchulu.com</h1>
                        <p class="footer-section-address">
                            123 Ramaraopeta kakinada, Andhrapradesh, India.
                        </p>
                    </div>
                </div>
            </div>
          </div>

    </div>
{% endblock  %}